* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body {
    font-family: "julee", sans-serif;
}

header {
	background-color: #A6A6A6;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}
#menu.show::before {
	content: "X";
}

/* main {
	max-width: 200px; 
} */

h1 {
	font-size: 2rem;
}

nav {
	background-color:#E1C095;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}
.navigation li {
	display: none;
}

.show li {
	display: block;
} 

nav a {
	display: block;
	color: black;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover,navigation a:active {
	text-decoration: underline double;
	background-color: #eee;
	color: #000;
}
h2{
	text-align: center;
	margin: 40px;
}

.container{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
} 

footer {
    background-color: #E1C095;
    padding: 20px;
	margin:30px;
    text-align: center;
}
figcaption{
	text-align: center;
}
#year{
    color: black;
}
#lastdate{
    color: black;
}
section{
	margin: 40px;
	background: #DBDBDB;
}
h3{
	text-align: center;
	margin: 10px;
}
p{
	text-align: center;
	margin: 15px;

}
img{
	width: 300px;

	margin-left: 50px; 
	margin-right: 50px;
	margin-bottom: 19px;
	box-shadow: 0 0 50px #E1C095;

	
}

/* mediaqueri */

@media (min-width: 740px) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    #menu {
		display: none;
	}
    .navigation li {
		display: block;
    }
    /* main{
        max-width: 900px; 
    } */
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
	


}

